
{% extends 'music/base_template.html' %}
        {% block title %}
            {{a.album_title}}
        {% endblock%}

{% block body %}
    <div class="container-fluid pull-left" style="margin-left:10px; border:1px green; background-color:#f2f1f1; padding-top:10px;">
        <img src="{{ MEDIA_URL }}{{a.album_logo.url}}" class="img-circle" height="150px" width="150px">
        <p class="text-center"> <abbr title="Album Title"> {{a.album_title}} </abbr> </p>
        <p class="text-center text-success"> <abbr title="Genre"> {{a.genre}} </abbr> </p>
        <p class="text-center text-warning"> <abbr title="Artist"> {{a.artist}} </abbr> </p>
    </div>

    {% if a.song_set.all%}
        <div class="container-fluid col-md-offset-2">
            <h3>Songs</h3>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for song in a.song_set.all%}
                        <tr>
                            <td>{{song.song_title}}</td>
                            <td>
                                <!--<a href="#">
                                    <span class="glyphicon glyphicon-volume-down">Listen</span>
                                </a>-->
                                <audio controls>
                                    <source src="{{song.audio_file.url}}" type="audio/mpeg">
                                    Your browser does not support the audio file
                                </audio>
                                <a href="{% url 'music:update_song' song.id%}">
                                    <span class="glyphicon glyphicon-edit" style="margin-left:10px;font-size:20px;">Edit</span>
                                </a>

                                <a href="{% url 'music:favorite_song' song.id %}">
                                {% if song.is_fav %}
                                      <span class="glyphicon glyphicon-star" style="margin-left:10px;font-size:20px;"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty" style="margin-left:10px;font-size:20px;"></span>
                                {% endif %}
                                </a>

                                <a href="{% url 'music:delete_song' song.id %}" style="margin-left:10px;">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>



    {% else %}
        <h3 class="col-md-offset-2">Sorry there are no songs in this album</h3>
    {% endif %}

    <div class="container-fluid pull-left" style="margin-top:4px;">
            <a href="{% url 'music:add_song' a.id %}" class="btn btn-primary">Add a new song</a>

    </div>
{% endblock body %}
