
{% extends 'music/base_template.html' %}
        {% block title %}
            {{a.album_title}}
        {% endblock%}

{% block body %}
    <div class="container-fluid pull-left" style="margin-left:10px; border:1px green; background-color:#f2f1f1; padding-top:10px;">
        <img src="{{a.album_logo}}" class="img-circle" height="150px" width="150px">
        <p class="text-center"> <abbr title="Album Title"> {{a.album_title}} </abbr> </p>
        <p class="text-center text-success"> <abbr title="Genre"> {{a.genre}} </abbr> </p>
    </div>

    {% if a.song_set.all%}
        <div class="container-fluid col-md-offset-2">
            <h3>Songs</h3>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for song in a.song_set.all%}
                        <tr>
                            <td>{{song.song_title}}</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-volume-down">Listen</span>
                                </a>
                                <a href="{% url 'music:update_song' %}">
                                    <span class="glyphicon glyphicon-edit">Edit</span>
                                </a>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>



    {% else %}
        <h3 class="col-md-offset-2">Sorry there are no songs in this album</h3>
    {% endif %}

    <div class="container-fluid pull-left" style="margin-top:4px;">
            <a href="{% url 'music:add_song' a.id %}" class="btn btn-primary">Add a new song</a>

    </div>
{% endblock body %}
