<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}

    <meta charset="utf-8">

    <!-- For bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Google font for the Music! logo-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!--CSS stylesheet-->
    <link href="{% static 'music/style.css' %}" rel="stylesheet" type="text/css">

    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation_bar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a href="#" class="navbar-brand">Home</a>-->
                <a href="{% url 'music:home' %}" class="navbar-brand">
                    <img src="{% static 'music_icon2.jpg' %}" height="20px" width="20px" class="pull-left">
                    Music!
                </a>

            </div>

            <div class="collapse navbar-collapse" id="navigation_bar">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="{% url 'music:add_album' %}">
                            <span class="glyphicon glyphicon-plus"></span>New Album
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'music:fav_songs' %}">
                                <span class="glyphicon glyphicon-star"></span>My Favorites
                            </a>
                        </li>
                    {%endif%}
                </ul>


                <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'music:search_album' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" value="{{query}}">

                    </div>
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                </form>


                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}

                            <li style="background: #ff9999;">
                                <!--<a href="{% url 'music:change_profile' user.id%}">-->
                                    Hello {{user.username}}!
                                <!--</a>-->
                            </li>
                            <li>
                                <a href="{% url 'music:logout' %}">
                                    <span class="glyphicon glyphicon-logout"></span>Logout
                                </a>

                            </li>

                        {% else %}

                            <li>
                                 <form class="navbar-form navbar-right" method="post" action="{% url 'music:login' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username" name="u" value="{{username}}">
                                        <input type="password" class="form-control" placeholder="Password" name="p" value="{{password}}">
                                    </div>
                                    <button type="submit" class="btn btn-info">Sign In</button>
                                </form>
                            </li>
                            <li>

                                    <a href="{% url 'music:register' %}">
                                        Sign Up!
                                    </a>

                            </li>
                        {% endif  %}
                    </ul>

            </div>



        </div>
    </nav>
    {% if query %}     <!--This if is needed because we want to print out the results page only when the user has searched something-->
        <div class="container-fluid" style="border:solid 1px green;">

            {%if results%}
                <h3>The following items were found:</h3>
                {% for item in results %}

                    <ul>
                        <a href="{% url 'music:album_detail' item.id %}">
                            {{item}}
                        </a>

                    </ul>
                {% endfor %}

            {%else%}
                <h3>Sorry no results match your search</h3>
            {% endif %}

        </div>
    {% endif %}
    <!--Using the message framework-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% block body %}
{% endblock %}
</body>
</html>