{% extends 'music/base_template.html' %}

{% block title %}
    My Favorite Songs
{% endblock title%}

{% block body %}
    {% if fav_songs %}
        <div class="container-fluid col-md">
            <h3 style="font-family:'Aref Ruqaa',serif;margin-left:20px; color:#483D8B">
                <b>My Favorite Songs</b>
            </h3>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Play</th>
                        <th>Actions</th>
                        <th>Album</th>
                    </tr>
                </thead>
                <tbody>
                    {%for song in fav_songs %}
                        <tr>
                            <td>{{song.song_title}}</td>
                            <td>
                                <audio controls>
                                    <source src="{{song.audio_file.url}}" type="audio/mpeg">
                                    Your browser does not support the audio file
                                </audio>

                            </td>
                            <!--
                            <td>
                                <!--Favorite the song-->
                               <!--     <a href="{% url 'music:favorite_song' song.id %}">

                                        {% if song.is_fav %}
                                              <span class="glyphicon glyphicon-star" style="margin-left:10px;font-size:20px;"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-star-empty" style="margin-left:10px;font-size:20px;"></span>
                                        {% endif %}
                                    </a>

                            </td>
                            -->
                            <td>
                                <!--Edit the song-->
                                     <a href="{% url 'music:update_song' song.id %}">
                                        <span class="glyphicon glyphicon-edit" style="margin-left:10px;font-size:20px;">Edit</span>
                                    </a>

                                <!--Delete the song-->
                                    <a href="{% url 'music:delete_song' song.id %}">
                                        <span class="glyphicon glyphicon-trash" style="margin-left:10px;"></span>
                                    </a>
                            </td>

                            <td>
                                <a href="{% url 'music:album_detail' song.album.id%}">{{song.album}}</a>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>



    {% else %}
        <h3 class="col-md-offset-2">You have no favorites yet!</h3>
    {% endif %}
{% endblock body %}