{% extends 'music/base_template.html' %}
{% if albums %}

{% load staticfiles %}
    {% block head %}
        <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
        <link href="css/home_style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">

          <!--Music icon for the title bar-->
    <link rel="shortcut icon" href="{% static 'music/music_icon2.ico' %}">
    {% endblock %}
    {% block title %}
        Music!
    {% endblock %}

    {% block body %}


        <div class="container-fluid" id="albums_display">


            <h2 id="heading" style="font-family:'Aref Ruqaa',serif;margin-left:20px; color:#483D8B">
                {% if not user.is_authenticated %}
                    Hi there! Welcome to the online backup store for music.<br>Click on the albums below to see more details.
                    <br>Sign in or sign up to create your own personal collection.<br><br>
                {% else %}
                    <h3 style="font-family:'Aref Ruqaa',serif;margin-left:20px; color:#483D8B">
                        My albums
                    </h3>
                    <br>Click on the albums below to see more details.
                {% endif %}
            </h2>


        </div>
        <div class="pull-right">
            <a href="?order_by=album_title">
                <span class="glyphicon glyphicon-sort-by-alphabet" style="font-size:40px"></span>
            </a>
            <a href="?order_by=-album_title">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt" style="font-size:40px"></span>
            </a>
        </div>
        <div class="container-fluid" id="album_display" style="margin-top:20px">
            <ul class="list-unstyled list-inline">
            {% for al in albums %}
                <li>
                    <a href="{% url 'music:album_detail' al.id %}">
                        <div class="container-fluid">
                            <img src="{{MEDIA_URL}}{{al.album_logo.url}}" class="img-circle" height="150px" width="150px">
                            <p class="text-center"> <abbr title="Album Title"> {{al.album_title}} </abbr> </p>
                            <p class="text-center text-success"> <abbr title="Genre"> {{al.genre}} </abbr> </p>
                        </div>

                    </a>
                </li>

            {% endfor %}
            </ul>
        </div>

    {% endblock %}


{% else %}
    <h3>Sorry, no albums to display</h3>
{% endif %}


