.navbar-brand
{
    font-family:'Indie',serif;
}

.table
{
    padding-right:0px;
    border-spacing: 0px;
}

body{
    background-image: url('background5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}